* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fbc81b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  max-width: 1000px;
  min-width: 350px;
  width: 800px;
  height: 100vh;
  margin: 20px 10px;
  background-color: #6b6303;
}

.page .titulo {
  background-color: #000;
  color: #fbc81b;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 0px 0px;
}

.page .wrapper-tarefa {
  width: 100%;
  max-height: calc(100vh - 207px);
  min-height: calc(100vh - 207px);
  overflow-y: scroll;
  margin: 10px 0px;
  padding: 10px;
}

.page .wrapper-tarefa .lista-tarefa {
  display: grid;
  grid-template-columns: 30px minmax(200px, 1fr) 30px;
  gap: 30px;
  background-color: #fbc81b;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 25px 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
}

.page .wrapper-tarefa .lista-tarefa:hover {
  background-color: #000;
  color: #fbc81b;
}

.page .wrapper-tarefa .lista-tarefa:hover .btn-fechar {
  background-color: #fbc81b;
  color: #000;
}

.page .wrapper-tarefa .lista-tarefa .checkbox {
  cursor: pointer;
}

.page .wrapper-tarefa .lista-tarefa .texto {
  flex-wrap: wrap;
  transition: .3s;
}

@media (max-width: 600px) {
  .page .wrapper-tarefa .lista-tarefa .texto {
    font-size: 18px;
  }
}

.page .wrapper-tarefa .lista-tarefa .btn-fechar {
  background-color: #000;
  border: none;
  align-self: center;
  height: 31px;
  color: #fff;
  border-radius: 5px;
  transition: .5s;
  cursor: pointer;
}

.page .wrapper-tarefa .lista-tarefa .btn-fechar:hover {
  opacity: 70%;
  border-radius: 50%;
  transform: rotateX(0.5turn);
}

.page .wrapper-criar-tarefa {
  display: grid;
  height: 88px;
  grid-template-columns: 30px 1fr 30px;
  gap: 10px;
  justify-content: center;
  padding: 20px 30px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #fff19f;
  font-size: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 5px 5px;
  border-bottom: solid 10px #fff19f;
}

.page .wrapper-criar-tarefa .icon {
  justify-self: center;
}

.page .wrapper-criar-tarefa input {
  background: none;
  border: none;
  padding: 5px;
  font-size: 25px;
  outline: none;
  transition: .5s;
}

@media (max-width: 600px) {
  .page .wrapper-criar-tarefa input {
    font-size: 18px;
  }
}

.page .wrapper-criar-tarefa input::placeholder {
  font-style: italic;
  font-weight: 300;
}

@media (max-width: 600px) {
  .page .wrapper-criar-tarefa input::placeholder {
    font-size: 16px;
  }
}
