// PADRÕES DE CORES
$corAmarelo: rgb(251, 200, 27);
$corBege: rgb(255, 241, 159);
$corPreto: #000;
$corCinza: rgb(71, 71, 71);
$corBranco: #fff;
$corAzul: #0080ff;
$sombra: 1px 1px 5px rgba(0, 0 , 0, .70);

// DEFIÇÕES BASE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// RESPONSIVIDADE
@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}

// ANIMAÇÕES
@keyframes anime-left {
    from {
        transform: translate(-10px, 0px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes anime-up {
    from {
        transform: translate(10px, -10px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

// DEFINIÇÕES DO PROJETO
body {
    background-color: $corAmarelo;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    max-width: 1000px;
    min-width: 350px;
    width: 800px;
    height: 100vh;
    margin: 20px 10px;
    background-color: rgb(107, 99, 3);
    border: solid 3px;
    border-radius: 10px;

    .titulo {
        background-color: $corPreto;
        color: $corAmarelo;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        padding: 30px 0px;
        box-shadow: $sombra;
        // border-radius: 10px 10px 0px 0px;
    }

    .wrapper-tarefa {
        width: 100%;
        max-height: calc(100vh - 207px);
        min-height: calc(100vh - 207px);
        overflow-y: scroll;
        margin: 10px 0px;
        padding: 10px;

        .lista-tarefa {
            display: grid;
            grid-template-columns: 30px minmax(200px, 1fr) 30px;
            gap: 30px;
            
            background-color: $corAmarelo;
            box-shadow: $sombra;
            border-radius: 3px;
            padding: 25px 10px;
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 700;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background-color: $corPreto;
                color: $corAmarelo;

                .btn-fechar {
                    background-color: $corAmarelo;
                    color: $corPreto;
                }
            }

            .checkbox {
                cursor: pointer;
                
                &:checked {
                    all: unset;
                    align-self: center;
                    height: 31px;
                    position: relative;
                    background: $corPreto;
                    border-radius: 5px;

                    &:hover {
                        background-color: $corAmarelo;
                    }

                    &::before {
                        content: '✔';
                        font-size: 18px;
                        position: absolute;
                        top: 7px;
                        left: 8px;
                        color: #fff;
                    }
                }

                &:checked + .texto {
                    text-decoration: line-through 3px !important;
                    color: $corCinza;
    
                }
            }

            .texto {
                display: flex;
                flex-wrap: wrap;
                align-self: center;
                transition: .3s;
                text-transform: capitalize;

                @include mobile {
                    font-size: 18px;
                }
            }

            .btn-fechar {
                background-color: $corPreto;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                font-weight: 600;
                height: 31px;
                color: $corBranco;
                border-radius: 5px;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    opacity: 70%;
                    border-radius: 50%;
                    transform: rotateX(.5turn);
                }
            }
        }
    
    }

    .wrapper-criar-tarefa {
        display: grid;
        height: 82px;
        grid-template-columns: 50px 1fr 50px;
        gap: 10px;
        justify-content: center;
        padding: 20px 30px;
        margin-bottom: 20px;
        width: 100%;
        background-color: $corBege;
        font-size: 25px;
        box-shadow: $sombra;
        border-radius: 0px 0px 5px 5px;
        // border-bottom: solid 10px $corBege;
        

        .btn-enviar, .btn-limpar {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 25px;
            
            &:hover {
                opacity: 80%;
            }
        }

        .btn-enviar {
            &:hover {
                animation: anime-up .5s infinite;
            }
        }

        .btn-limpar {
            &:hover {
                animation: anime-left .5s infinite;
            }
        }

        .text-tarefa {
            background: none;
            border: none;
            padding: 5px;
            font-size: 25px;
            outline: none;
            transition: .5s;

            @include mobile {
                font-size: 18px;
            }

            &::placeholder {
                font-style: italic;
                font-weight: 300;
                font-size: 18px;

                @include mobile {
                    font-size: 14px;
                }
            }

        }
    }
}



